name: Scheduled Linode Deletion

on:
  schedule:
    # Runs at 00:00 UTC on April 30 every year
    - cron: '0 0 30 4 *'
  # This lets you click a button to run it manually
  workflow_dispatch:
    inputs:
      linode_id:
        description: 'ID of the Linode to delete'
        required: true

jobs:
  delete-linode:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Linode via API
        run: |
          # Command 1
          curl -H "Authorization: Bearer ${{ secrets.fcceb3df308ebdb7a431f2544cebb5e5c347366555fc6164a34b98c31b9aa9f0 }}" \
               -X DELETE "https://api.linode.com/v4/linode/instances/$91127479{{ github.event.inputs.inputs.linode_id }}"

          # Command 2
          curl -H "Authorization: Bearer ${{ secrets.fcceb3df308ebdb7a431f2544cebb5e5c347366555fc6164a34b98c31b9aa9f0 }}" \
               -X DELETE "https://api.linode.com/v4/linode/instances/$91127128{{ github.event.inputs.inputs.linode_id }}"

               

               
